body{
    margin:0;
}

.header{
    background:url("../Images/cover.png") no-repeat scroll center;
}

.header .header-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header-nav .header-nav-logo{
    float: left;
}

.header-nav .header-nav-item{

}

.phones{

}

.phones .phone{
    
}

.button{
    border: none;
    border-radius: 0;
    font-family: Open-Sans;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
